<%- include("header") %> 

<h2>This is a header</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis enim possimus doloremque, odit aperiam consequuntur, dicta hic numquam, nam amet? Possimus quisquam suscipit illo. Fugit, neque quibusdam. Ipsam, ut?</p>

<%- include("footer") %> 