html {
  background-color: #FAD6A5;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  padding: 10px;
}

body {
  background-image: -webkit-linear-gradient(70deg, #567189 50%, #FAD6A5 50%);
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #567189;
  text-align: center;
}

div.item {
  border-bottom: 2px solid #F1F1F1 !important;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #567189;
}

input[type="checkbox"] {
  margin: 20px;
}

.category-item input:checked+p {
  text-decoration: none;
  color: white;
  background-color: #7B8FA1;
  padding: 0.5rem;
  border-radius: 10px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

/* button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
} */

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #567189;
}

::placeholder {
  color: grey;
  opacity: 1;
}

form#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form#form :last-child {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-width: 0;
  width: 80%;
  padding: 0.7rem 0.3rem;
  border-radius: 10px;
  color: white;
  font-size: 1.6rem;
  border-color: transparent;
  background-color: #567189;
}

.fa-solid {
  color: #FAD6A5;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.menu-icon, .container {
  position: fixed;
}

.menu-icon {
  z-index: 3;
  top: 3.3rem;
  left: 1.8rem;
  background-color: #7B8FA1;
  padding: 0.5rem;
  border-radius: 10px;
}

.container {
  width: 400px;
  background-color: white;
  height: 50vh;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  top: 150px;
  left: -450px;
  z-index: 2;
}

.categoryDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.categoryDiv input[type='text'] {
  width: 80%;
}

.category-item {
  display: flex;
  align-items: center;
}


.container .box {
  width: 300px;
}

.container button {
  border-width: 0;
  border-color: transparent;
  padding: 0.9rem 0.6rem;
  cursor: pointer;
  color: white;
  background-color: #7B8FA1;
  letter-spacing: 1px;
  font-size: 1rem;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  padding: 10px;
}

.container .box {
  width: 80%;
}

.newCategory {
  width: 50%;
}

i.fa-solid.rotate-half {
  transform: rotate(-90deg);
}

i.fa-solid.rotate-full {
  transform: rotate(-180deg);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer p {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}


@media (max-width: 590px) {
  .fa-solid {
    color: #7B8FA1;
  }

  .menu-icon {
    background-color: white;
  }

  #heading {
    margin-top: 3rem;
  }

  .box {
    width: 90%;
  }

  .menu-icon {
    padding: 0.4rem;
  }
}

@media (max-width: 450px) {
  .menu-icon {
    top: 3.36rem;
    padding: 0.1rem;
    border-radius: 5px;
  }

  .container {
    width: 85%;
  }

  p {
    font-size: .9375rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}